*,
*::after,
*::before {
  box-sizing: border-box;
}
.my-nav{
  z-index: 200;
  background-color: black;
  border-bottom: red;
}

img.wide-payer-logo{
  width : 60px !important;
  height: 60px !important;
}

.my-nav .nav-link{
  color: whitesmoke;
  font-family: "Agency FB", sans-serif;
  font-weight: bold;
  transition: color 0.5s;
}

/*Survolement des menus de la nav*/
.my-nav .nav-link:hover{
  color : red ;
}
/*NavBar*/
.navbar-brand{
  color: white;
}

.navbar-toggler-icon{
  color:white;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

/*Style de tous les a*/
a{
  text-decoration: none;
  font-family: Verdana;
  color: rgb(241, 50, 50);
}

/*Style de tous les titres h2*/
/*h2 {
  font-family: "Agency FB";
  font-weight: bold;
  font-size: 250%;
  text-align: center;
}*/

/*image*/
img{
  width: 100%;
}

img.paypal-donation-links{
  width: initial !important;
}
/*Paragraphe Description Wide Payer*/
.description .paragraph {
  text-align: center;
  height: auto;
}

/*Paragraphe Mode d'emploi*/
.description .paragraph2 {
  width: 50%;
  text-align: justify;
  margin-left: 26%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  
}


/*Contact*/
.contact-us {
  width: 100%;
  height: 30%;
  background-color: rgba(128, 128, 128, 0.384);
  border-bottom: red ;
  transform: translateY(-2%);
}
.contact-us p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  text-align: center;
  transform: translateY(-5%);
}


/*bas de page*/
footer p {
  text-align: center;
  font-family: Verdana;
  transform: translateY(3%);
}

